@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'tw3', arial, sans-serif;
    scroll-behavior: smooth;
}

body{
    background-image: url('https://c.wallhere.com/photos/8a/6c/fantasy_art_artwork_The_Witcher_Geralt_of_Rivia-2011917.jpg!d');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    opacity: .9;
}

#logo{
    width: 250px;
    margin-top: 10px;
    margin-left: 25px;
}

header ul{
    display: flex;
    margin-right: 25px
}

select {
    border:none;
    background: #EAEAEA;
    width: 70px;
    font-weight: bold;
}

#jogos{
    text-transform: uppercase;
}

#buy{
    color: red;
    border: 1px solid gray;
}

header li{
    list-style: none;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

header li a{
    text-decoration: none;
    color: rgb(245, 229, 229);
    font-size: 15px;
    transition: .2s;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #ff0000;
}

footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: black;
    flex-direction: column;
    margin-top: 200px;
}

#flex{
    margin-bottom: 80px;
}

#end{
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: arial, 'Times New Roman', Times, serif;
    color: gray;
}

.imagens{
    width: 75px;
    height: 85px;
    margin-left: 5px;
    margin-right: 5px;
}

#witcher-font{
    font-size: 45px;
    color: #F37D20;
    font-family: 'the witcher';
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(31, 29, 29);;
}

.text-titles{
    text-align: center;
    font-size: 25px;
    margin-top:20px;
    margin-bottom:20px;
    padding-left: 20px;
    font-size: 45px;
    letter-spacing:15px;
    display: flex;
    justify-content: center;
}

#personagens{
    display: flex;
}

.personagens{
    position: relative;
    display: flex;
    margin: 2rem 0.5rem;
    width: 150px;
    height: 150px;
}

.personagens:hover{
    transform: scale(1.15,1.15);
}