@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'tw3', Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width:20px;
}

::-webkit-scrollbar-track{
    background: #ff0043;
}

::-webkit-scrollbar-thumb{
    background: #a7a7a7;
    border-radius: 30px;
}

a{
    text-decoration: none;
    color: rgb(255, 145, 0);
}

a:hover{
    color: #ffffff;
}

body{
    background-image: url('https://c.wallhere.com/photos/8a/6c/fantasy_art_artwork_The_Witcher_Geralt_of_Rivia-2011917.jpg!d');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: black;
    flex-direction: column;
    margin-top: 200px;
}

.textnews{
    text-align: center;
    font-size: 25px;
    margin-top:20px;
    margin-bottom:20px;
    padding-left: 20px;
    font-size: 45px;
    letter-spacing:25px;
    display: flex;
    justify-content: center;
}

.noticias{
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 80px;
}

.news-card{
    width: 450px;
    height: 280px;
    transition: .4s;
    margin: 0px 10px;
    margin-bottom: 15px;
    position: relative
}

.news-card:hover{
    top:-2px;
    transform: scale(1.05, 1.05);
    box-shadow:0 10px 10px rgb(0, 0, 0)
}

.titulos{
    text-align: center;
    font-size: 13px;
    display: flex;
    justify-content: center;
}

.noticiasb{
margin-left: 650px;
width: 30%;
background-color: #f8b66b;
}

.noticiasb:hover {
    transform: scale(1, 1);
}

#text-fix{
    max-width: 400px;
}

#text-fix2{
    max-width: 400px;
}

#formulario{
    justify-content:center;
    display: flex;
    margin-top: 150px;
    flex-direction: column;
}

#warning, .texto{
    color: rgb(255, 255, 255);
}

.texto{
    font-size:30px;
    text-align: center;
    margin-bottom: 10px;
}

.texto p{
    font-size: 25px;
}

#triss{
    width: 45px;
    border-radius: 50%;
    transition: .3s;
}

#triss:hover{
    border: 1px solid black;
}

.input{
    justify-content:center;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#bar{
    width: 1000px;
    height: 50px;
    margin-bottom: 15px;
    border: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#check{
    display: flex;
    justify-content:center;
    letter-spacing: 2px;
    font-size: 15px;
}

input[type="text"]{
    font-size: 25px;
    padding-left:10px;
}

#box{
    width: 30px;
    height:30px;
    margin-right: 10px;
}

.imagens{
    width: 75px;
    height: 85px;
    margin-left: 5px;
    margin-right: 5px;
}

.logo{
    width: 250px;
    margin-right: 50px;
}

#flex{
    margin-bottom: 80px;
}

#end{
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: arial, 'Times New Roman', Times, serif;
    color: gray;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    opacity: .9;
}

#logo{
    width: 250px;
    margin-top: 5px;
    margin-left: 25px;
}

header ul{
    display: flex;
    margin-right: 25px
}

select {
    border:none;
    background: #EAEAEA;
    width: 70px;
    font-weight: bold;
}

#jogos{
    text-transform: uppercase;
}

#buy{
    color: red;
    border: 1px solid gray;
}

header li{
    list-style: none;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

header li a{
    text-decoration: none;
    color: rgb(245, 229, 229);
    font-size: 15px;
    transition: .2s;
}

header li a:hover{
    color: red;
}

#banner{
    background: url("https://static.cdprojektred.com/thewitcher.com/media/wallpapers/witcher3/full/thewitcher.com_en_1920x1080_5edf441f77ea9.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 95%;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;
}

.size-fix{
    font-size: 35px !important;
}

#bg{
    margin-left: 6px;
}

#bg h2{
    font-size: 33px;
    letter-spacing: 1px;
    font-family: 'Rowdies', cursive;
}

#bg p{
    font-size: 20px;
    font-style: italic;
}

#witcher-font{
    font-size: 45px;
    color: #F37D20;
    font-family: 'the witcher';
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(31, 29, 29);;
    background-color:#f8b66b;
}

#witcher-font2{
    font-size: 50px;
    color: #f6260a;
    font-family: 'the witcher';
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(31, 29, 29);
}

#witcher-font3{
    font-size: 25px;
    color: #f6260a;
    font-family: 'the witcher';
}

#netflix{
    width: 60px;
}

#news{
    margin-top: 100px;
}

#steam{
    width: 20px;
    margin-left: 3px;
    font-weight: bold;
}

#controller{
    width: 40px;
}

#xbox{
    width: 40px;
}

#steam1{
    display: flex;
    flex-direction: row;
}

#text{
    margin-left: 20px;
}

#text h2{
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(31, 29, 29);
    font-size: 2.5rem;
}

#text p{
    font-size: 20px;
}

#buttons{
    display: flex;
    margin-left: 20px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80px;
    height: 45px;

    margin-top: 15px;

    border-radius: 10px;
    border: 2px solid black;
    margin-right: 10px;
    opacity: .7;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    opacity: 1;
    transform: scale(1.1);
}

#cards{
    margin: 25px 0px;
    padding-top: 60px;
}

#card-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.mini-card{
    width: 280px;
    height: 280px;
    cursor:pointer;
    border-radius: 50%;
}

.item-zoom {
	position: relative;
	overflow: hidden;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    border-radius: 50%;
}

.item-zoom img {
	vertical-align: top;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.item-zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.2);
    opacity: 1;
}

/* MODAL dos cards */
.modal{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container{
    border: 3px solid black;
    background: url('https://images.gnwcdn.com/2013/articles/1/7/4/9/3/0/6/gameplay-de-the-witcher-3-mostra-a-caca-aos-monstros-1429174320878.jpg/EG11/resize/1200x-1/gameplay-de-the-witcher-3-mostra-a-caca-aos-monstros-1429174320878.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal2{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container2{
    border: 3px solid black;
    background: url('https://i0.wp.com/www.thexboxhub.com/wp-content/uploads/2021/05/The-Witcher-2-Assassins-of-Kings.jpg?fit=979%2C551&ssl=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal3{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container3{
    border: 3px solid black;
    background: url('https://cdn.akamai.steamstatic.com/steam/apps/20900/ss_b26db23a0b4b4e07a6466c84f009cbdbb13091f7.1920x1080.jpg?t=1621939811');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal4{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container4{
    border: 3px solid black;
    background: url('https://i.ytimg.com/vi/h5Rqdzv9ZGY/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }

@media (max-width: 1400px){
    .titulos{
        font-size: 10px;
    }

    .news-card{
        width: 350px;
        margin: 0px 10px;
    }

    #noticias{
        margin: 0 auto;
    }

    .mini-card{
        border: none;
    }
}

#description-fix{
    font-family: Arial, Helvetica, sans-serif !important;
}
  