*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EAEAEA;
}

footer{
    position: absolute;
    bottom: 0;
}

.imagens{
    width: 80px;
    height: 80px;
}

.logo{
    width: 230px;
}

