@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}

body{
    background-color: #EAEAEA;
}

footer{
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    background-color: black;
    flex-direction: column;
    margin-top: 200px;
}

.textnews{
    text-align: center;
    font-size: 25px;
    margin-top:20px;
    margin-bottom:20px;
}

#noticias{
    display:flex;
    justify-content: center;
    flex-direction: row;    
}

.noticia1{
    width: 400px;
    height: 250px;
    position:relative;
    transition: .3s;
}

.noticia1:hover{
    top: -3px;
    box-shadow:0 10px 10px gray
}

#titulo1{
    text-align: center;
}

.noticia2{
    width: 400px;
    height: 250px;
    position:relative;
    transition: .3s;
    margin: 0px, 15px;
}
.noticia2:hover{
    top:-2px;box-shadow:0 10px 10px gray
}
#titulo2{
    text-align: center;
    margin-right: 0px;
    margin-left: -25px;
}

.noticia3{
    width: 400px;
    height: 250px;
    position:relative;
    transition: .3s;
}

.noticia3:hover{
    top:-2px;box-shadow:0 10px 10px gray
}
#titulo3{
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}

#formulario{
        justify-content:center;
        display: flex;
        margin-top: 150px;
        flex-direction: column;
}


.texto{
    font-size:30px;
    text-align: center;
    margin-bottom: 10px;
}

.texto p{
    font-size: 25px;
}

#triss{
    width: 45px;
    border-radius: 50%;
    transition: .3s;
}

#triss:hover{
    border: 1px solid black;
}

.input{
    justify-content:center;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#bar{
    width: 1000px;
    height: 50px;
    margin-bottom: 15px;
    border: none;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#check{
    display: flex;
    justify-content:center;
    letter-spacing: 2px;
    font-size: 15px;
}

input[type="text"]{
    font-size: 25px;
    padding-left:10px;
}

#box{
    width: 30px;
    height:30px;
    margin-right: 10px;
}

.imagens{
    width: 75px;
    height: 85px;
    margin-left: 5px;
    margin-right: 5px;
}

.logo{
    width: 250px;
    margin-right: 50px;
}

#flex{
    margin-bottom: 80px;
}

#end{
    display: flex;
    justify-content:center;
    align-items:center;
    font-family: arial, 'Times New Roman', Times, serif;
    color: gray;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    width: 250px;
    margin-top: 10px;
    margin-left: 25px;
}

header ul{
    display: flex;
    margin-right: 25px
}

select {
    border:none;
    background: #EAEAEA;
    width: 70px;
    font-weight: bold;
}

#jogos{
    text-transform: uppercase;
}

#buy{
    color: red;
    border: 1px solid gray;
}

header li{
    list-style: none;
    margin-right: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

header li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .2s;
}

header li a:hover{
    color: red;
}

#banner{
    background: url("https://cdn.ome.lt/B_S79084zg-OBmq2NsBfykWsCQA=/970x360/smart/uploads/conteudo/fotos/The_Witcher_3_-_banner_header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 550px;
    width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    color: white;
}

#bg{
    margin-left: 6px;
}

#bg h2{
    font-size: 33px;
    letter-spacing: 1px;
    font-family: 'Rowdies', cursive;
}

#bg p{
    font-size: 20px;
    font-style: italic;
}

span{
    font-size: 45px;
    color: rgb(238, 37, 37);
    font-family: 'the witcher';
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: rgb(31, 29, 29);
}

#netflix{
    width: 60px;
}

#steam{
    width: 20px;
    margin-left: 3px;
    font-weight: bold;
}

#controller{
    width: 40px;
}

#xbox{
    width: 40px;
}

#steam1{
    display: flex;
    flex-direction: row;
}

#text{
    margin-left: 20px;
}

#text p{
    font-size: 15px;
}

#buttons{
    display: flex;
    margin-left: 20px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 80px;
    height: 45px;

    margin-top: 15px;

    border-radius: 10px;
    border: 2px solid black;
    margin-right: 10px;
    opacity: .7;
    cursor: pointer;
    transition: .3s;
}

button:hover{
    opacity: 1;
    transform: scale(1.1);
}

#cards{
    margin: 25px 0px;
    padding-top: 60px;
}

#card-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.mini-card{
    width: 410px;
    height: 390px;
    cursor:pointer;
    width: 450px;
    height: 400px;
    cursor:pointer;
}

.item-zoom {
	position: relative;
	overflow: hidden;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.item-zoom img {
	vertical-align: top;
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.item-zoom:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
    opacity: 1;
}

/* MODAL dos cards */
.modal{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container{
    border: 3px solid black;
    background: url('https://images.gnwcdn.com/2013/articles/1/7/4/9/3/0/6/gameplay-de-the-witcher-3-mostra-a-caca-aos-monstros-1429174320878.jpg/EG11/resize/1200x-1/gameplay-de-the-witcher-3-mostra-a-caca-aos-monstros-1429174320878.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal2{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container2{
    border: 3px solid black;
    background: url('https://i0.wp.com/www.thexboxhub.com/wp-content/uploads/2021/05/The-Witcher-2-Assassins-of-Kings.jpg?fit=979%2C551&ssl=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal3{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container3{
    border: 3px solid black;
    background: url('https://cdn.akamai.steamstatic.com/steam/apps/20900/ss_b26db23a0b4b4e07a6466c84f009cbdbb13091f7.1920x1080.jpg?t=1621939811');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}
.modal4{
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;

    display: none;
    justify-content: center;
    align-items: center;
}

#modal-container4{
    border: 3px solid black;
    background: url('https://i.ytimg.com/vi/h5Rqdzv9ZGY/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    width: 700px;
    height: 600px;
    margin: 0 auto;
    border-radius: 10px;
    transform:scaleY(.01) scaleX(0);
    animation:unfoldIn 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
}

@keyframes unfoldIn {
    0% {
      transform:scaleY(.005) scaleX(0);
    }
    50% {
      transform:scaleY(.005) scaleX(1);
    }
    100% {
      transform:scaleY(1) scaleX(1);
    }
  }

@media (max-width: 1400px){
    #titulo1, #titulo2, #titulo3{
        font-size: 10px;
    }

    .noticia1, .noticia2, .noticia3{
        width: 350px;
        margin: 0px 10px;
    }

    #noticias{
        margin: 0 auto;
    }
}
  